$h-header: 50px;
$bg-header: #f76805;
$color-link: #f9f9f9;
$bg-body: #f8f8fa;
$color-heart: #040405;
$bg-discount: #f80304;
$bg-sustainability: #047e05;
$h-footer: 80px;
$bg-footer: #1c1c1e;
$w-container: 1200px;
$w-logo: 100px;
$w-col: calc(100% / 3);
$h-card-image: 550px;
$h-100: 100%;
$font: Arial, Helvetica, sans-serif;