$ht-header: 50px;
$bg-header: #f76805;
$color-link: #f9f9f9;
$bg-body: #f8f8fa;
$color-heart: #040405;
$bg-discount: #f80304;
$bg-sustainability: #047e05;
$bg-footer: #1c1c1e;
$font: Arial, Helvetica, sans-serif;
$width-container: 1200px;
